@import 'tailwindcss';

@variant dark (false);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@plugin 'daisyui' {
    themes: light --default;
};
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceHeadline-Extrabold.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceHeadline-Bold.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceHeadline-Light.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceHeadline-Regular.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-altgray: #d9d9d9;
    --font-sans: 'Beatrice', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    html {
        font-size: clamp(10px, 1.4vw, 18px);
    }
}

@layer components {
    .bg-layer {
        @apply fixed top-0 left-0 w-dvw h-dvh -z-1 bg-no-repeat bg-cover bg-center;
        background-image: url('../images/noisy-background.png');
    }

    .logo {
        @apply bg-contain bg-no-repeat;
        width: 40px;
        height: 40px;
        background-image: url('../images/logo.png');
    }
}

@layer utilities {
    .tabs .tab.tab-active {
        @apply bg-neutral text-white;          
    }
    .tabs .tab {
        @apply border border-black w-10 h-10 rounded-none text-neutral;

        &:hover {
            @apply bg-neutral text-white;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
        }
    }
    .btn {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
            @apply bg-neutral text-white;
        }
    }
    #close {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        
        &:hover {
            @apply cursor-pointer scale-125;
        }
    }
}