@import 'tailwindcss';

@variant dark (false);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@plugin 'daisyui' {
    themes: light --default;
};
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Beatrice Bold';
    src: url('../fonts/BeatriceHeadline-Bold.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Beatrice Extra Bold';
    src: url('../fonts/BeatriceHeadline-Extrabold.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Extrabold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Beatrice Light';
    src: url('../fonts/BeatriceHeadline-Light.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Beatrice Regular';
    src: url('../fonts/BeatriceHeadline-Regular.woff2') format('woff2'),
        url('../fonts/BeatriceHeadline-Regular.woff') format('woff');
    font-weight: normal;
}

@theme {
    --font-sans: 'Beatrice Regular', 'Beatrice Light', 'Beatrice Bold', 'Beatrice Extra Bold', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .bg-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-image: url('../images/noisy-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .logo {
        width: 40px;
        height: 40px;
        background-image: url('../images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}